Consider following code to answer further questions:

In [1]:
import pandas as pd

In [3]:
df= ({'course_name':["Data Science", "Machine Learning", "Big Data", "Data Engineer"],
      'duration':[2,3,6,4]})

In [4]:
df1 = pd.DataFrame(df)

In [5]:
df1

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [6]:
df1[1:2]

        course_name  duration
1  Machine Learning         3

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

The main difference between loc and iloc is that loc selects data by using the labels of rows and columns, while iloc selects data by using the integer positions of rows and columns.

Explain:

loc selects data based on label. You can use the row and column labels to select data. 
For example, df.loc[2, 'duration'] will select the value in the row labeled 2 and the column labeled duration.


iloc selects data based on integer position. You can use the row and column integer positions to select data. 
For example, df.iloc[2, 1] will select the value in the third row (integer position 2) and the second column (integer position 1).

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

Did you observe any difference in both the outputs? If so then explain it.
Consider the below code to answer further questions:

import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [7]:
import pandas as pd
import numpy as np

d =  ({"course_name":['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer'],
    "duration":[2,3,4,5]})

In [8]:
d1=pd.DataFrame(d)

In [9]:
d1

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         4
3     Data Engineer         5

In [10]:
reindex = [3, 0, 1, 2]

In [11]:
new_df = d1.reindex(reindex)

In [12]:
new_df

        course_name  duration
3     Data Engineer         5
0      Data Science         2
1  Machine Learning         3
2          Big Data         4

In [13]:
new_df.loc[2]

course_name    Big Data
duration              4
Name: 2, dtype: object

In [14]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q4. Write a code to find the following statistical measurements for the above dataframe df1:

(i) mean of each and every column present in the dataframe.

(ii) standard deviation of column, ‘column_2’

In [15]:
import pandas as pd
import numpy as np

columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]
# Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

In [16]:
df1.mean()

column_1    0.591778
column_2    0.453728
column_3    0.420367
column_4    0.625223
column_5    0.550960
column_6    0.471755
dtype: float64

In [17]:
df1['column_2'].std()

0.3616970100689416

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.

[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [22]:
df1.loc[2, 'column_2']

'string_variable'

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In pandas, a window function is a way of performing a calculation on a sliding window of data, where the size of the window is fixed and moves over the data frame. The window function calculates a new value for each element in the window based on a function that takes the values in the window as input.

There are several types of window functions available in pandas, including:

1.Rolling: This type of window function calculates a rolling window of values, where each value in the window is based on the previous n values, where n is the size of the window.

2.Expanding: This type of window function calculates an expanding window of values, where each value in the window is based on all the previous values in the data frame.

3.Rolling with a Time Window: This is similar to the rolling window function, but it operates on time-series data and the window size is defined by a time duration rather than a fixed number of data points.

4.Exponentially Weighted Moving Average (EWMA): This is a type of rolling window function that gives more weight to recent values in the window, with a decay factor that determines the weight of each value.

5.Cumulative: This type of window function calculates the cumulative values of a series based on a specific operation (e.g. sum, product, etc.) over all the previous values.


These functions are useful in performing complex operations on a data frame, especially when working with time-series data or analyzing data over a sliding window.

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [29]:
import datetime

current_date = datetime.datetime.now()
current_month_year = current_date.strftime('%B %Y')
print(current_month_year)

March 2023

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [30]:
# Get input from the user
start_date = input("Enter the start date (YYYY-MM-DD): ")
end_date = input("Enter the end date (YYYY-MM-DD): ")

# Convert input to pandas datetime format
start_date = pd.to_datetime(start_date)
end_date = pd.to_datetime(end_date)

# Calculate the timedelta between the two dates
time_diff = end_date - start_date

# Extract days, hours, and minutes from the timedelta
days_diff = time_diff.days
hours_diff = time_diff.seconds // 3600
minutes_diff = (time_diff.seconds // 60) % 60

# Display the result
print("The difference between", start_date.date(), "and", end_date.date(), "is:")
print(days_diff, "days,", hours_diff, "hours,", "and", minutes_diff, "minutes.")

Enter the start date (YYYY-MM-DD):  2023-04-12
Enter the end date (YYYY-MM-DD):  2023-06-20

The difference between 2023-04-12 and 2023-06-20 is:
69 days, 0 hours, and 0 minutes.

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [2]:
import pandas as pd

# Prompt user for file path
file_path = input("Enter file path: ")

# Prompt user for column name
column_name = input("Enter column name: ")

# Prompt user for category order
category_order = input("Enter category order (comma-separated): ")
category_order = category_order.split(",")

# Read CSV file
df = pd.read_csv(file_path)

# Convert column to categorical data type
df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

# Sort data by column
df_sorted = df.sort_values(column_name)

# Display sorted data
print(df_sorted)

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Prompt user for file path
file_path = input("Enter file path: ")

# Read CSV file
df = pd.read_csv(file_path)

# Pivot data to create a stacked bar chart
df_pivot = df.pivot(index='Date', columns='Product Category', values='Sales')

# Create stacked bar chart
ax = df_pivot.plot(kind='bar', stacked=True)

# Set chart title and labels
ax.set_title('Sales by Product Category')
ax.set_xlabel('Date')
ax.set_ylabel('Sales')

# Display chart
plt.show()

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.

The program should do the following:
. Prompt the user to enter the file path of the CSV file containing the student dataR
. Read the CSV file into a Pandas DataFrameR
. Calculate the mean, median, and mode of the test scores using Pandas toolsR
. Display the mean, median, and mode in a table.

Assume the CSV file contains the following columns:
. Student ID: The ID of the studentR
. Test Score: The score of the student's test.

Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85

The program should calculate the mean, median, and mode of the test scores and display the results
in a table.